.scroll-float {
  overflow: hidden;
  display: inline-block;
}

.scroll-float-text {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
}

.scroll-float-char {
  display: inline-block;
  will-change: opacity, transform;
}
